body {
    background-color: #d3d3d3;
}

footer {
    background-color: #707070;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    min-height: 50px;
    border-top: 5px solid #4db6ac;
    margin-top: 100px;
}

h1 {
    color: #4db6ac;
    font-family: sans-serif;
    font-size: 32px;
}

.submit-btn {
    background-color: #4db6ac;
    color: white;
}

.picture {
    height: 250px;
    width: 180px;
}

.namebox {
    background-color: #4db6ac;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white !important;
    font-size: 20px;
    padding: 20px;
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

p {
    color: grey;
}

main {
    margin-bottom: 50px;
}

hr {
    background-color: #999999;
    height: 1px;
}

@media screen and (max-width: 576px) {
    .picture {
        width: 100%;
        height: auto;
        float: none
    }
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #4db6ac;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-size: 20px;
    margin-right: -20px;
}
a {
color: white;
}

#passwordPic{
    height: 297px;
}